<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paradox.projectsp3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="false" />

    <permission
        android:name="android.permission.FLASHLIGHT"
        tools:node="remove"
        tools:selector="com.amosyuen.videorecorder.*" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectSP3"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".VideoEditorFolder.CameraTransperent_Activity"
            android:exported="false" />
        <activity
            android:name=".VideoEditorFolder.NewCameraSettings"
            android:exported="false" />
        <activity
            android:name=".VideoRecording.VideoEditorActivity"
            android:exported="false" />
        <activity
            android:name=".SoundsList.SoundActivity"
            android:exported="false" />
        <activity
            android:name=".VideoRecording.Post_Video_A"
            android:exported="false" />
        <activity
            android:name=".VideoRecording.GallerySelectedVideo_A"
            android:exported="false" />
        <activity
            android:name=".VideoRecording.Preview_Video_A"
            android:exported="false" />
        <activity
            android:name=".CreateShotsCamera.Camera_Activity"
            android:exported="false" />
        <activity
            android:name=".VideoRecording.VideoRecording_Activity"
            android:exported="false" />
        <activity
            android:name=".OthersProfiles.OthersProfile_Activity"
            android:exported="false" />
        <activity
            android:name=".HomeComment.HomeComment_Activity"
            android:exported="false" />
        <activity
            android:name=".Profile.P_Commnets"
            android:exported="false" />
        <activity
            android:name=".Profile.MyVideosScreen_Activity"
            android:exported="false" />
        <activity
            android:name=".Buydiamonds_Activity"
            android:exported="false" />
        <activity
            android:name=".RefferandEarn_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileMenu_Activity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Practice_Following.MyBase_Activity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Followers_Following_Likes.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".Menu_Activity"
            android:exported="false" />
        <activity
            android:name=".NewEditProfile_Activity"
            android:exported="false" />
        <activity
            android:name=".GmailNewPin_Activity"
            android:exported="false" />
        <activity
            android:name=".Gmail_ForgotPin_Activity"
            android:exported="false" />
        <activity
            android:name=".GmailLogin_Activity"
            android:exported="false" />
        <activity
            android:name=".PhoneNewPinActivity"
            android:exported="false" />
        <activity
            android:name=".GmailFields_Activity"
            android:exported="false" />
        <activity
            android:name=".PostVideo_Activity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".NewRegister_Activity"
            android:exported="false" />
        <activity
            android:name=".NewSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ShareBottomSheetActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Comments.Comment" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ForgotPassword_Activity"
            android:exported="false" />
        <activity
            android:name=".ContentLanguages_Activity"
            android:exported="false" />
        <activity
            android:name=".PrivacySettings_Activity"
            android:exported="false" />
        <activity
            android:name=".PushNotification_Activity"
            android:exported="false" />
        <activity
            android:name=".ManageAccount_Activity"
            android:exported="false" />
        <activity
            android:name=".ProfileSettings_Activity"
            android:exported="false" />
        <activity
            android:name=".PickVeideo_Activity"
            android:exported="false" />
        <activity
            android:name=".PickImage_Activity"
            android:exported="false" />
        <activity
            android:name=".MyVideoView_Activity"
            android:exported="false" />
        <activity
            android:name=".GoLive_Activity"
            android:exported="false" />
        <activity
            android:name=".Profile_Activity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MessageMainActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".HomeFollowing.FollowingActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:name=".ChooseYoursIntrests_Activity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".FaceFilters.FaceFilterActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".HomeActivty"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".VideoEditorFolder.PortraitCameraActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".VideoEditorFolder.BaseCameraActivity"
            android:screenOrientation="nosensor"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".AudioTrimmerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".NewSplash_Activity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name="com.facebook.FacebookActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" -->
        <!-- android:label="@string/app_name" /> -->
        <!-- <activity -->
        <!-- android:name="com.facebook.CustomTabActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.APP_BROWSER" /> -->
        <!-- <data android:scheme="@string/fb_login_protocol_scheme" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>